header {
    width: 100%;
    font-size: 30px;
}

li {
    list-style-type: none;
    font-size: 40px;
    display: inline;
    align-items: flex-start;
    background-color: red;
}

ul {
    text-align: center;
    color: green;
}

.sticky {
    position: relative;
    width: 100%;
    top: 0;
    background-color: gray;
}

.nav-link {
    display: inline-flex;
}