body {
    background-color: bisque;
}

.sticky {
    position: relative;
    width: 100%;
    top: 0;
    background-color: black;
    padding: 30px;
}

li {
    list-style-type: none;
    font-size: 40px;
    display: inline;
    align-items: flex-start;
    background-color: grey;
    padding: 30px;
    margin: 0 100px 0 100px;
}

ul {
    text-align: center;
}
